@inject IHttpContextAccessor HttpContextAccessor

@{
    // Lee el tipo de usuario de Session
    string tipoUsuario = HttpContextAccessor.HttpContext?.Session.GetString("TipoUsuario") ?? "";

    //string identificacion = HttpContextAccessor.HttpContext?.Session.GetString("Identificacion") ?? "";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Banco ABC</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <header>
        <nav>

            @if (tipoUsuario.Equals("1"))
            {
                <div class="menu-section">
                    <strong>Administración</strong>
                    <a asp-page="/Administrador/AdministracionClientes">Administración de Clientes</a>
                    <a asp-page="/Administrador/RegistrarCuentasClientes">Registrar Cuenta a Cliente</a>
                    <a asp-page="/Administrador/RegistrarTarjetasClientes">Registrar Tarjeta a Cliente</a>
                    <a asp-page="/Administrador/Usuarios">Usuarios</a>
                    <a asp-page="/Index" asp-page-handler="Logout" style="color: red;">Cerrar Sesión</a>
                </div>
            }

            @if (tipoUsuario.Equals("2"))
            {
                <div class="menu-section">
                    <strong>Usuario</strong>
                    <a asp-page="/Usuarios/ListaCuentasYTarjetas">Lista de Cuentas y Tarjetas</a>
                    <a asp-page="/Usuarios/MovimientosCuentas">Ver Movimientos de Cuentas</a>
                    <a asp-page="/Usuarios/MovimientosTarjetasCredito">Ver Movimientos de Tarjetas de Crédito</a>
                    <a asp-page="/Index" asp-page-handler="Logout" style="color: red;">Cerrar Sesión</a>
                </div>
            }

        </nav>
    </header>

    <div class="main-container">
        @RenderBody() 
    </div>

    <footer>
        <!--<p>&copy; 2026 - Banco ABC</p>-->
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>