@{
    // Modo para desarrollo = true
    // Modo para la presentación = false (se oculta según el usuario)

    bool mostrarTodo = false;

    // Simulaciones para probar mientras no hay login (Administrador = "1" , Usuario = "2")
    string TipoUsuario = "2";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <header>
        <nav>

            @if (mostrarTodo || TipoUsuario.Equals("1"))
            {
                <strong>Administración</strong>
                <a asp-page="/Administrador/AdministracionClientes">Administración de Clientes</a>
                <a asp-page="/Administrador/RegistrarCuentasClientes">Registrar Cuenta a Cliente</a>
                <a asp-page="/Administrador/RegistrarTarjetasClientes">Registrar Tarjeta a Cliente</a>
                <a asp-page="/Administrador/Usuarios">Usuarios</a>
                <a asp-page="/Index">Cerrar Sesión</a>
            }

            @if (mostrarTodo || TipoUsuario.Equals("2"))
            {
                <strong>Usuario</strong>
                <a asp-page="/Usuarios/ListaCuentasYTarjetas">Lista de Cuentas y Tarjetas</a>
                <a asp-page="/Usuarios/MovimientosCuentas">Ver Movimientos de Cuentas</a>
                <a asp-page="/Usuarios/MovimientosTarjetasCredito">Ver Movimientos de Tarjetas de Credito</a>
                <a asp-page="/Index">Cerrar Sesión</a>
            }

        </nav>
    </header>

    <div class="main-container">
        @RenderBody() 
    </div>

    <footer>
        <p>&copy; 2026 - Banco ABC</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>